window#waybar {
  background-color: transparent;
  
  /*border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;*/
}

#workspaces {
	margin: 5px 1px 5px 5px;
	border: 1px solid orange;
	border-radius: 3px;
}

#workspaces button {
	color: white;
}

#workspaces button.active {
	color: orange;
}

/*#language {
	margin: 5px 5px 5px 5px;
	padding: 0px 3px 0px 3px;
	color: orange;
	border: 1px solid orange;
	border-radius: 3px;
}*/

#tray {
	margin: 5px 5px 5px 5px;
	padding: 0px 3px 0px 3px;
	background-color: transparent;
	border: 1px solid orange;
	border-radius: 3px;
}

#custom-clock {
	margin: 5px 5px 5px 5px;
	padding: 0px 3px 0px 3px;
	background-color: transparent;
	color: white;
	border: 1px solid orange;
	border-radius: 3px;
}


/* Right Modules */
#battery {
	padding: 0px 0px 0px 10px;
	color: white;
}

#network {
	margin: 5px 5px 5px 5px;
	padding: 0px 3px 0px 3px;
	margin: 5px 5px 5px 5px;
	color: #32CD32;
	border: 1px solid orange;
}

#network.disconnected {
	color: gray;
}

#bluetooth {
	color: white;
}


.modules-left.
.modules-center,
.modules-right {
	margin: 5px 5px 5px 5px;
	padding: 0px 3px 0px 3px;
}
